body{
    font-family: 'Redressed', cursive;
}

.top-part{
    display: flex;
}

.half-width{
    width: 50%;
}
.half-width img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
}
.top-part-title{

}