body{
    font-family: 'Poppins', sans-serif;
}

.top-section{
    background-image: url(../images/home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 700px;
    display: flex;
}
.left-part {
    width: 50%;
    margin-top: 10%;
    margin-left: 37px;
}
.left-part p{
    margin-bottom: 40px;
}
.left-part a{
    text-decoration: none;
    background-image: linear-gradient(#2FB4AE,#00fff2);
    color: white;
    padding:10px 40px;
    margin-top: 40px;
    border-radius: 10px;
}
.right-part{
    width: 50%
}

.right-part img{
    height: 700px;
}

.color-verdigris{
    color: #2FB4AE;
}
.left-part h1{
    font-size: 50px;
}